//common
a:hover:not(.v-btn):not(.v-list-item)
  text-decoration: underline

//layout
html
  overflow: hidden !important
  letter-spacing: -1px
  line-height: 30px
body
  overflow: auto
  height: 100vh

@media screen and (max-width: 600px)     
  html
    font-size: 16px !important

.page-bg
  background-color: #FAFAFA
  padding: 40px 0
.page-bg.border-top
  border-top: 1px solid #F2F3F3

.sub-appbar .page-header,
.main-appbar .page-header,
.admin-appbar .page-header,
.v-footer .page-footer
  max-width: 1520px
  width: 100%
  margin-left: auto
  margin-right: auto
  //padding-right: 12px
  //padding-left: 12px

.page-header, .page-container
  max-width: 1520px
  margin-left: auto
  margin-right: auto
  padding-right: 12px
  padding-left: 12px

.page-sub, .page-main
  height: calc(100% - 60px)

//page-breadcrumbs
.v-breadcrumbs li .v-icon
  font-size: 18px !important
.v-breadcrumbs.page-breadcrumbs
  position: relative
  padding: 24px 12px 0
  align-items: center
  a, .v-breadcrumbs__item--disabled
    display: flex
    line-height: 1
    color: #000 !important
  .v-breadcrumbs__item--disabled
    font-weight: 700
    opacity: 1
  li
    margin-bottom: 20px
  li:nth-child(even)
    padding: 0 4px
  li:first-child
    a
      display: block
      width: 20px
      height: 20px
      font-size: 0
      background-position: center center
      background-repeat: no-repeat
      background-size: 100%
      background-image: url("@/assets/icon_home.png")
.page-breadcrumbs:before
  content: ""
  position: absolute
  top: 32px
  left: 0
  display: block
  width: 5px
  height: 5px
  background-color: #3B3B3B
  border-radius: 50%

//v-heading
.heading-description
  color: #7C828B
  padding-top: 12px

@media screen and (min-width: 600px)
  .v-heading-title
    font-size: 36px

@media screen and (max-width: 600px)   
  .v-heading-title
    font-size: 28px

//cursor
.cursor-pointer
  cursor: pointer

//font
.text-required
  display: inline-block
  width: 13px
  height: 13px
  background-position: center center
  background-repeat: no-repeat
  background-size: 100%
  background-image: url("@/assets/icon_required.png")
  margin: 0 4px
.icon-required
  position: relative
  display: inline-block
  width: 15px
.icon-required:before
  content: ""
  position: absolute
  top: -20px
  left: 0
  display: block
  width: 13px
  height: 13px
  background-position: center center
  background-repeat: no-repeat
  background-size: 100%
  background-image: url("@/assets/icon_required.png")

.text-break
  word-break: break-all

.color-sunlight
  color: #FF7E12 !important

//width
.w-100
  width: 100%
.h-100
  height: 100%
.w-auto
  min-width: auto !important
  width: auto !important
  max-width: auto !important
.h-100-60
  height: calc(100% - 60px)

//v-btn
.v-btn:not(.v-btn--round).v-size--default.h-100
  min-height: 36px
  height: 100% !important

.btn-outline-solid.btn-secondary
  background-color: #E5E6E8
  border: thin solid #C6C2C2

//v-icon
.mdi.mdi-custom:before
  content: "" !important
.mdi.mdi-custom
  background-position: center center
  background-repeat: no-repeat
  background-size: 100%
.mdi-custom.mdi-chevron-double-right
  width: 32px
  height: 32px
  background-size: 75%
  background-image: url("@/assets/icon_arrow.png")
.mdi-custom.mdi-clipboard-check-outline
  width: 32px
  height: 32px
  background-size: 75%
  background-image: url("@/assets/icon_confirm_application_w.svg")
.mdi-custom.mdi-file-excel-outline
  width: 18px
  height: 18px
  background-size: 18px
  background-image: url("@/assets/icon_excel.png")
.mdi-custom.mdi-phone-in-talk
  width: 36px
  height: 36px
  background-size: 80%
  background-image: url("@/assets/icon_call.png")
.mdi-custom.mdi-email-outline
  width: 36px
  height: 36px
  background-size: 80%
  background-image: url("@/assets/icon_email.png")
.mdi-custom.mdi-trash-can-outline 
  width: 18px
  height: 18px
  background-size: 18px
  background-image: url("@/assets/icon_trash.png")
.mdi-custom.mdi-information-outline 
  width: 20px
  height: 20px
  background-size: 20px
  background-image: url("@/assets/icon_info.png")
.mdi-custom.mdi-open-in-new
  width: 20px
  height: 20px
  background-size: 20px
  background-image: url("@/assets/icon_external_link.png")

//text
@media screen and (min-width: 600px)
  .text-body-h3
    font-size: 36px
    font-weight: 700
    letter-spacing: -1px
    line-height: 48px
  .text-body1
    font-size: 32px
    font-weight: 700
    letter-spacing: -1px
    line-height: 44px

@media screen and (max-width: 600px)   
  .text-body-h3
    font-size: 32px
    font-weight: 700
    letter-spacing: -1px
    line-height: 44px
  .text-body1
    font-size: 28px
    font-weight: 700
    letter-spacing: -1px
    line-height: 40px   

//introduce
.introduce-group
  background-color: #ffffff
  border-radius: 8px
  padding: 16px
  height: 100%
  .item-title
    font-size: 18px
    font-weight: 700
    padding: 10px 0

@media screen and (min-width: 600px)
  .introduce-group
    .item-title
      font-size: 24px
      font-weight: 600
      padding: 24px 0 16px

@media screen and (max-width: 600px)   
  .introduce-group
    .item-title
      font-size: 24px
      font-weight: 600
      padding: 24px 0 16px

//model-group
.model-group
  background-color: #ffffff
  border-radius: 8px
  height: 100%
  border: 1px solid #F2F3F3
  .item-image
    border-radius: 8px
    overflow: hidden
  .item-description
    padding: 12px 16px
  .item-keyword
    padding: 20px 16px 0
    .theme--light.v-chip
      background: transparent
      padding: 0
      border-radius: 0
    .theme--light.v-chip:hover::before
      opacity: 0
    .v-chip+.v-chip
      margin-left: 8px
  .item-action
    text-align: right
    padding: 12px 16px

@media screen and (min-width: 600px)
  .model-group
    .item-title
      font-size: 24px
      font-weight: 600
      line-height: 36px
      padding: 24px 16px 0

@media screen and (max-width: 600px)    
  .model-group
    .item-title
      font-size: 24px
      font-weight: 600
      line-height: 36px
      padding: 24px 16px 0   

//model-case-group
.model-case-group
  height: 100%
  .item-image
    border-radius: 8px
    overflow: hidden
  .item-title
    font-size: 24px
    font-weight: 700
    .v-icon.v-icon
      font-size: 30px
  .item-address
    padding: 8px 0
  .item-chip
    padding: 40px 0 12px
    .theme--light.v-chip
      background: transparent
    .theme--light.v-chip:hover::before
      opacity: 0
    .v-chip+.v-chip
      margin-left: 8px

//model-detail-group
.dialog-body
  .model-detail-group
    border: 0
    .item-group
      padding: 20px 8px
.model-detail-group
  background-color: #ffffff
  border-radius: 8px
  height: 100%
  border: 1px solid #F2F3F3
  .item-image
    border-radius: 8px
    overflow: hidden
  .item-group
    padding: 20px
  .item-title
    position: relative
    font-size: 24px
    font-weight: 600
    padding: 16px 0 0 28px
  .item-title:before
    content: ""
    position: absolute
    top: 21px
    left: 8px
    display: block
    width: 5px
    height: 24px
    background-color: #A6D086
    border-radius: 3px
  .item-description
    padding: 12px 24px

//apply-process-group
.apply-process-group.row
  margin-left: -20px
  margin-right: -20px
  .col
    padding-left: 8px
    padding-right: 8px
  .process-item
    height: 100%
    padding: 16px
    border: 1px solid #E5E6E8
    border-radius: 8px
    

@media screen and (min-width: 600px)
  .apply-process-group.row
    .process-title
      font-size: 16px
      font-weight: 700
      margin-bottom: 16px
@media screen and (max-width: 600px)
  .apply-process-group.row
    .process-title
      font-size: 18px
      font-weight: 700
      margin-bottom: 16px   

@media (min-width: 600px) and (max-width: 960px)
  .apply-process-group.row
    .col
      padding-top: 8px
      padding-bottom: 8px
  .mdi-custom.mdi-chevron-double-right
    transform: rotate(90deg)
@media screen and (max-width: 600px)
  .apply-process-group.row
    .col
      padding-top: 8px
      padding-bottom: 8px
  .mdi-custom.mdi-chevron-double-right
    transform: rotate(90deg)

//list-control
.list-control
  display: flex
  align-items: center
  .carousel-count
    margin-right: 10px
    color: rgba(0, 0, 0, 0.15)
    span
      color: #000000
      font-weight: 600

//dialog
@media screen and (min-width: 600px)
  .card-dialog
    .dialog-header
      position: relative
      .dialog-close
        position: absolute
        top: 20px
        right: 20px
      .dialog-title
        padding: 40px
        font-size: 44px !important
        font-weight: 700 !important
        letter-spacing: -1px !important
    .dialog-body
      position: relative
      padding: 0 40px 40px

@media screen and (max-width: 600px)   
  .card-dialog
    .dialog-header
      position: relative
      .dialog-close
        position: absolute
        top: 10px
        right: 10px
      .dialog-title
        padding: 20px
        font-size: 28px !important
        font-weight: 700 !important
        letter-spacing: -1px !important   
    .dialog-body
      position: relative
      padding: 0 20px 20px 

//complete-group
@media screen and (min-width: 600px)
  .complete-group
    .complete-title
      font-size: 44px
      font-weight: 700
      line-height: 56px
    .complete-stext
      font-size: 20px
      font-weight: 400
      line-height: 32px
@media screen and (max-width: 600px)   
  .complete-group
    .complete-title
      font-size: 32px
      font-weight: 700
      line-height: 44px
    .complete-stext
      font-size: 18px
      font-weight: 400
      line-height: 30px

.loading-group
  .loading-title
    font-size: 36px
    font-weight: 700
    line-height: 48px
  .loading-stext
    font-size: 18px
    font-weight: 400
    line-height: 30px

//terms-group
.terms-group
  background-color: #ffffff
  border: 1px solid #F2F3F3
  border-radius: 8px
  padding: 20px
  overflow: auto

//form
.input-certification
  .v-text-field__suffix
    color: #FF7E12
.form-bg
  background-color: #ffffff
  border-radius: 8px
  padding: 20px
.form-bg.border
  border: 1px solid #F2F3F3
.form-group
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  .v-label
    display: block
    margin-bottom: 12px
    font-size: 18px
    font-weight: 400
    letter-spacing: -1px
    color: rgba(0, 0, 0, 1)
    white-space: nowrap
  .label-padding .v-label
    margin-bottom: 0 !important
    color: #000000
  .v-text-field--outlined fieldset
    border-color: #CBCDD1
  .v-select__selection
    width: 100%
    max-width: 100%
    text-align: center
.form-group.form-horizontal
  flex-direction: row
  .v-label
    width: 50px
    padding-top: 12px
.v-radio
  .v-label
    margin-bottom: 0

.form-disabled
  opacity: .3

.col-zipcode
  min-width: 100px !important

@media (min-width: 960px)
  .form-group
    .col-label
      max-width: 96px

.page-main .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot,
.page-sub .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot,
.form-group .v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) > .v-input__control > .v-input__slot
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0), 0px 2px 2px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(0, 0, 0, 0) !important
/* .v-text-field.v-text-field--enclosed .v-text-field__details
    padding: 0 !important */

.v-text-field__prefix, .v-text-field__suffix
  font-size: 14px
  font-weight: 500
  color: #B0B4B9

.filter-group, .button-group
  display: flex
  align-items: center
  margin: 4px 0
.button-group
  margin-left: auto

.v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label
  font-size: 18px
  font-weight: 400

//v-menu
.v-menu__content
  .v-list
    padding: 0
  .v-list-item--dense .v-list-item__title, .v-list-item--dense .v-list-item__subtitle, .v-list--dense .v-list-item .v-list-item__title, .v-list--dense .v-list-item .v-list-item__subtitle
      font-size: 13px

//v-expansion-panels
.v-expansion-panels.panels-accordion
  .v-expansion-panel-header
    border-bottom: 1px solid #F2F3F3
  .v-expansion-panel-header__icon
    .v-icon.v-icon
      font-size: 32px
  .v-expansion-panel-content
    border-bottom: 1px solid #F2F3F3
  .text-question
    color: #A6D086
    margin-right: 8px
  .text-answer
    color: #0095F6
    margin-right: 8px

@media screen and (min-width: 600px)
  .v-expansion-panels.panels-accordion
    .v-expansion-panel-header
      line-height: 36px
      font-weight: 600
    .panel-content-title
      font-size: 24px
      font-weight: 600
      line-height: 36px
      margin-bottom: 24px
    .panel-content-text
      line-height: 30px
      font-weight: 400
      padding-left: 32px

@media screen and (max-width: 600px)
  .v-expansion-panels.panels-accordion
    .v-expansion-panel-header,
    .v-expansion-panel--active > .v-expansion-panel-header
      min-height: 80px
    .v-expansion-panel-header
      line-height: 36px
      font-size: 24px
      font-weight: 600
    .panel-content-title
      font-size: 24px
      font-weight: 600
      line-height: 36px
      margin-bottom: 24px
    .panel-content-text
      line-height: 30px
      font-weight: 400
      padding-left: 32px

//v-card
.theme--light.v-card.card-transparent
  background-color: transparent

.card-form.border
  border: 1px solid #CBCDD1 !important

.card-form
  background-color: #ffffff
  border-radius: 8px
  border: 1px solid #F2F3F3  
  .card-title
    font-size: 24px
    font-weight: 600
    line-height: 36px
    margin-bottom: 12px
    small
      font-size: 16px
      font-weight: 400
      color: rgba(0, 0, 0, 0.45)
  .card-header
    display: flex
    align-items: center
    border-bottom: 1px solid #F2F3F3
    padding: 16px
    .card-date, .card-stext
      color: rgba(0, 0, 0, 0.45)
    .card-label
      margin-left: auto
  .card-body
    padding: 32px 16px

.card-form.detail-house
  .card-header
    flex-direction: column
    align-items: flex-start
  .card-title
    font-size: 20px
    font-weight: 700
    line-height: 32px
    margin-bottom: 24px
  .card-chip
    width: 100%
    ul
      list-style: none
      display: flex
      flex-wrap: wrap
      flex: 1 1 auto
      margin: -8px
      width: 100%
      padding: 0
      li
        padding: 8px
    .v-chip
      padding: 8px 16px
    .v-chip.v-size--default
      font-size: 16px
      font-weight: 400
      height: 36px
      border-radius: 30px
      cursor: pointer

.theme--light.v-chip.chip-color1
  color: rgba(0, 0, 0, 0.45)
  font-weight: 600
    

.v-card.card-contact
  margin-top: 40px
  .contact-stext
    font-size: 24px
    font-weight: 600
    line-height: 36px
    padding: 4px 20px
  .contact-group
    padding: 8px 20px
  .contact-item
    display: flex
    flex-direction: column
    border-radius: 8px
    .contact-title
      font-size: 24px
      font-weight: 600
      line-height: 36px
      margin-bottom: 8px
      small
        display: block
        font-size: 16px
        font-weight: 600
        color: #7C828B
        letter-spacing: -1px
    .contact-text
      display: flex
      align-items: center
      font-size: 32px
      font-weight: 700
      line-height: 44px
      word-break: break-all

@media screen and (min-width: 600px)
  .v-card.card-contact  
    .contact-title
      height: 65px

@media screen and (max-width: 600px)         
  .v-card.card-contact  
    .contact-title
      height: auto

.v-card.card-alert
  .v-card__text
    display: flex
    justify-content: center
    align-items: center
    padding: 30px 24px 20px !important
    min-height: 120px
    font-size: 16px
    font-weight: 500
    text-align: center
    color: rgba(0, 0, 0, 0.8) !important

.v-card.card-view
  .v-card__text
    font-size: 14px
    font-weight: 500

.theme--light.v-card.card-tab
  background-color: transparent
  > .theme--light.v-tabs-items
    background-color: transparent

.v-card.card-tab-detail
  .v-card__title
    font-size: 15px
    font-weight: 600
    padding-bottom: 5px
  .v-card__text, .ul-list, .ol-list
    font-size: 14px
    font-weight: 500
    line-height: 1.6

.ul-list.list-dash
  list-style: none
  padding-left: 12px
.ul-list.list-dash>li
  position: relative
.ul-list.list-dash>li:before
  content: "-"
  position: absolute
  top: 0
  left: -12px

.ul-list.list-dot
  list-style: none
  padding-left: 12px
.ul-list.list-dot>li
  position: relative
.ul-list.list-dot>li:before
  content: ""
  position: absolute
  top: 11px
  left: -12px
  display: block
  width: 4px
  height: 4px
  background-color: rgba(0, 0, 0, 0.9)
  border-radius: 50%
.ul-list.list-dot>li.col:before
  top: 22px
  left: 0

.card-table
  .table-title
    font-size: 28px
    font-weight: 700
    min-height: 40px
  .table-btn
    font-size: 14px
    font-weight: 500

//v-pagination
.v-pagination
  margin-top: 10px !important
.v-pagination__navigation, .v-pagination__item--active, .v-pagination__item
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0), 0px 2px 2px 0px rgba(0, 0, 0, 0), 0px 1px 5px 0px rgba(0, 0, 0, 0) !important

//table
.card-table:not(.table-view) .v-data-table > .v-data-table__wrapper > table 
  border-collapse: collapse
  thead.v-data-table-header-mobile > tr > th
    background-color: #F4F4F4
  thead:not(.v-data-table-header-mobile) > tr > th
    border: thin solid #DDDDDD
    background-color: #F4F4F4
    color: #6C757D !important
    font-weight: 400
    .v-data-table-header__icon
      //color: rgba(255, 255, 255, 0.87) !important
  tbody > tr:not(.v-data-table__mobile-table-row) > td
    border: thin solid #DDDDDD
  tbody > tr.v-data-table__mobile-table-row > td:last-child
    border-bottom: thin solid #DDDDDD
  tfoot > tr > td
    border: thin solid #DDDDDD
    background-color: #F4F4F4
    font-weight: 600
.v-data-table th, .v-data-table td
  //font-size: 14px !important
.v-data-table__checkbox .v-input--selection-controls__input
    margin-right: 0 !important

.table-energy.no-title
  .v-card__title
    display: none

.table-energy.no-title-padding
  .v-card__title
    padding-top: 0
    padding-bottom: 0
    margin-bottom: 0

@media screen and (min-width: 600px)
  .table-energy
    .v-data-table th, .v-data-table td
      font-size: 18px !important
    .v-data-table td.text-right
      font-size: 16px !important
      color: rgba(0, 0, 0, 0.45)
    .v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td 
      height: 80px
@media screen and (max-width: 600px)   
  .table-energy
    .v-data-table th, .v-data-table td
      font-size: 16px !important
    .v-data-table td.text-right
      font-size: 16px !important
      color: rgba(0, 0, 0, 0.45)
    .v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td 
      height: 70px
    .text-truncate
      max-width: 200px
      display: inline-block

.table-energy
  background-color: transparent !important
  a
    color: #000000 !important
    text-decoration: none !important
  .theme--light.v-data-table
    background-color: transparent
    .v-data-table__wrapper
      background-color: #ffffff
      border-radius: 8px
      overflow: hidden
  .v-data-table > .v-data-table__wrapper > table 
    thead:not(.v-data-table-header-mobile) > tr > th
      background-color: #3C5A80 !important
  table th.text-start
    text-align: center !important
  .theme--light.v-pagination .v-pagination__item
    background: transparent

.table-energy.card-table:not(.table-view) .v-data-table > .v-data-table__wrapper > table 
  tbody > tr:not(.v-data-table__mobile-table-row) > td
    border-width: 0 0 thin 0
    border-style: solid 
    border-color: #F2F3F3
  tbody > tr.v-data-table__mobile-table-row > td:last-child
    border-width: 0 0 thin 0
    border-style: solid 
    border-color: #F2F3F3

.table-energy.table-view
  background-color: #ffffff !important
  border-radius: 8px
  border: 1px solid #F2F3F3
  .view-header
    border-bottom: 1px solid #F2F3F3
    padding: 16px    
  .view-body
    padding: 20px 16px
    .v-image
      margin: 0 0 20px

@media screen and (min-width: 600px)
  .table-energy.table-view
    .view-header
      .view-title
        font-size: 28px
        font-weight: 600
        line-height: 40px
        margin-bottom: 8px
      .view-date
        color: rgba(0, 0, 0, 0.45)

@media screen and (max-width: 600px)   
  .table-energy.table-view
    .view-header
      .view-title
        font-size: 24px
        font-weight: 600
        line-height: 36px
        margin-bottom: 8px
      .view-date
        font-size: 16px
        font-weight: 400
        line-height: 28px
        color: rgba(0, 0, 0, 0.45)

.table-admin
  background-color: transparent !important
  table th.text-start
    text-align: center !important
  .theme--light.v-data-table
    background-color: transparent
    .v-data-table__wrapper
      background-color: #ffffff

.text-damin-label  
  font-size: 16px
  font-weight: 500

.table-toolbar
  align-items: center
  padding: 4px 0 10px

//v-list
.v-list.list-status
  background: transparent !important
  .v-list-item + .v-list-item
    margin-top: 20px
  .v-list-item__title
    font-size: 18px
    font-weight: 600
    margin-bottom: 10px
  .v-list-item__subtitle
    font-size: 14px
    font-weight: 500
    color: rgba(0, 0, 0, 0.4) !important
    span
      font-size: 36px
      font-weight: 500
      margin-right: 10px
      color: rgba(0, 0, 0, 0.8)

//main
//main-banner
.main-banner
  position: relative
  .v-carousel, .v-carousel__item
    //height: 700px !important
  .v-responsive__sizer
    height: 900px
  .v-carousel, .v-carousel__item
    height: 900px !important
  .v-image__image
    background-position: center center !important 
  .carousel-sheet
    position: absolute
    z-index: 2
    top: 0
    left: 0
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    height: 100%
    .carousel-text-group
      display: flex
      flex-direction: column
      padding: 0 12px
      //max-width: 1520px
      .title
        font-family: "Pretendard", "Roboto", sans-serif !important
        color: rgba(255, 255, 255, 1)
        letter-spacing: -1px !important
      .stext
        color: rgba(255, 255, 255, 0.8)
        letter-spacing: -1px

@media screen and (min-width: 600px)
  .main-banner
    .carousel-text-group
      .title
        font-size: 44px !important
        font-weight: 800
        line-height: 56px
        margin-bottom: 24px
      .stext
        font-size: 20px !important
        font-weight: 400
        margin-bottom: 40px

@media (min-width: 1904px)
  .carousel-sheet
    .carousel-text-group
      max-width: 1520px

@media (min-width: 1264px) and (max-width: 1904px)
  .main-banner
    .v-responsive__sizer
      height: 900px
    .v-carousel, .v-carousel__item
      height: 900px !important
    .v-image__image
      background-position: center center !important
@media (min-width: 960px) and (max-width: 1264px)
  .main-banner    
    .v-responsive__sizer
      height: 900px
    .v-carousel, .v-carousel__item
      height: 900px !important
    .v-image__image
      background-position: center center !important
@media (min-width: 600px) and (max-width: 960px)
  .main-banner
    .v-responsive__sizer
      height: 700px
    .v-carousel, .v-carousel__item
      height: 700px !important
    .v-image__image
      background-position: center 0 !important
@media screen and (max-width: 600px)
  .main-banner
    .v-responsive__sizer
      height: 700px
    .v-carousel, .v-carousel__item
      height: 700px !important
    .v-image__image
      background-position: -580px center !important   
    .carousel-text-group
      .title
        font-size: 32px !important
        font-weight: 800
        line-height: 46px
        margin-bottom: 16px
      .stext
        font-size: 16px !important
        font-weight: 400
        margin-bottom: 40px

//card-myhome-energy
@media screen and (max-width: 1200px)
  .col-myhome-energy
    flex: 0 0 100% !important
    max-width: 100% !important

@media screen and (min-width: 600px)
  .card-myhome-energy, .card-banner
    .v-card__title
      font-size: 36px !important
      font-weight: 700 !important
@media screen and (max-width: 600px)   
  .card-myhome-energy, .card-banner
    .v-card__title
      font-size: 28px !important
      font-weight: 700 !important   

.card-myhome-energy, .card-banner
  .v-card__title
    letter-spacing: -1px
    margin-bottom: 20px
  a, a:hover
    color: rgba(0, 0, 0, 0.8) !important
    text-decoration: none !important
  .form-main
    min-height: 478px
.card-banner
  .v-card__title
    color: rgba(0, 0, 0, 0.75)

.main-myenergy-result
  display: flex
  flex-direction: column
  min-height: 438px
  .row
    flex: 0 0 auto !important
    margin-bottom: 12px
  .result-title
    display: flex
    align-items: center
    font-size: 24px
    font-weight: 600
    letter-spacing: -1px
    padding: 0 0 40px
  .result-stitle
    font-size: 20px
    font-weight: 500
    letter-spacing: -1px
    color: rgba(0, 0, 0, 0.4)
    padding: 0 0 24px
    span
      font-weight: 700
  .result-value
    font-size: 32px
    font-weight: 700
    small
      font-size: 20px
      font-weight: 400
    .unit
      font-size: 16px
      font-weight: 500
      color: rgba(0, 0, 0, 0.4)
      font-weight: 600
      margin-left: 4px

.sub-myenergy-result
  display: flex
  align-items: flex-start
  .energy-image
    margin-right: 60px
  .row
    flex: 0 0 auto !important
    margin-bottom: 0
  .result-stitle
    display: flex
    align-items: center
    font-size: 20px
    font-weight: 400
    line-height: 32px
    color: rgba(0, 0, 0, 0.4)
    padding: 0 0 24px
    span
      display: inline-block
      font-weight: 700
  .result-value
    font-size: 32px
    font-weight: 700
    small
      font-size: 20px
      font-weight: 400
    .unit
      font-size: 16px
      font-weight: 500
      color: rgba(0, 0, 0, 0.4)
      font-weight: 600
      margin-left: 4px
  .result-save
    font-size: 18px
    font-weight: 400
    color: #7C828B
    margin-top: 12px

.house-item-list
  display: flex
  flex-direction: column
  width: 100%
  .house-item + .house-item
    padding-top: 20px
  .house-item
    display: flex
    align-items: stretch
    .item-title
      display: flex
      flex-direction: column
      align-items: baseline
      width: 120px
      border-right: 1px solid #F2F3F3
      margin-right: 24px
      padding-right: 10px
      font-weight: 600
      color: rgba(0, 0, 0, 0.65)      
      .v-btn
        font-weight: 400 !important
        min-width: auto !important
        padding: 0 4px !important
        height: auto !important
        margin-top: 8px
        .v-icon--left
          margin-right: 4px
        .v-ripple__container
          display: none
      .theme--light.v-btn::before
        opacity: 0 !important
    .item-form
      width: 100%
      .row:first-child
        margin: -12px -12px 0
      .form-group
        //flex-direction: row
        label
          font-size: 16px
          min-width: 130px
          padding-right: 16px
          padding-top: 8px
        .v-text-field.v-text-field--solo .v-input__control
          min-height: 44px
        .v-text-field--filled > .v-input__control > .v-input__slot, .v-text-field--full-width > .v-input__control > .v-input__slot, .v-text-field--outlined > .v-input__control > .v-input__slot
          min-height: 44px
      .col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1
        padding: 4px 12px
  .house-item-add
    padding-left: 120px
    text-align: center
    margin-top: 4px
    margin-bottom: 40px
    .v-btn
      font-weight: 400
  .house-item-add.border-bottom
    padding-bottom: 8px
    border-bottom: 1px solid #CBCDD1

.form-required
  color: #FF3040
  font-size: 16px
  font-weight: 400
  line-height: 28px
  padding-top: 4px

.house-item-value
  display: flex
  align-items: center
  justify-content: end
  color: #006AAF
  font-size: 16px
  font-weight: 400
  line-height: 28px
  padding-top: 2px
  padding-bottom: 4px
  .value
    width: 80px
    padding: 0 16px
    text-align: right

@media screen and (min-width: 1264px)
  .v-input.error--text + .house-item-value
    margin-top: -32px

.row.gutters-1  
  margin: -4px -6px 0 !important
  .col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1
    padding: 4px 6px !important

//card-support
.card-support
  .v-card__title
    letter-spacing: -1px
    margin-bottom: 20px
  .carousel-control
    position: absolute
    top: -8px
    right: 0
    display: flex
    align-items: center
    .carousel-count
      margin-right: 10px
      color: rgba(0, 0, 0, 0.15)
      span
        color: #000000
        font-weight: 600
  .v-carousel
    //background-color: #ffffff
    border-radius: 8px !important
  //.v-window__prev, .v-window__next
    //display: none
  //.v-image__image--cover
    //background-size: contain

@media screen and (min-width: 1264px)
  .col-support
    max-width: 678px !important

@media screen and (min-width: 600px)
  .card-support
    .v-card__title
      font-size: 36px !important
      font-weight: 700 !important

@media screen and (max-width: 600px)   
  .card-support
    .v-card__title
      font-size: 28px !important
      font-weight: 700 !important   

.admin-view, .admin-dialog, .admin-alert
  font-size: 14px
  letter-spacing: 0
  .v-btn:not(.v-btn--round).v-size--default
    height: 40px
    min-width: auto
    padding: 0 24px
  .v-btn.v-size--default
    font-size: 14px
  .v-input input
    font-size: 14px
  .v-input--selection-controls .v-input__slot > .v-label, .v-input--selection-controls .v-radio > .v-label
    font-size: 14px
  .v-textarea textarea
    font-size: 14px
    line-height: 1.6
  .v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td
    font-size: inherit
  .v-chip.v-size--default
    border-radius: 8px
    font-size: 14px
.admin-dialog.v-card
  >.v-card__title
    font-weight: 700 !important

.v-tabs.tab-energy  
  .v-slide-group__prev, .v-slide-group__next
    display: none !important
  .v-tabs-slider-wrapper
    height: 4px !important
  .v-tab.v-tab--active
    font-weight: 700

@media (min-width: 600px) and (max-width: 960px)
  .v-tabs.tab-energy
    .v-tabs-bar
      height: 56px
    .v-tabs-slider-wrapper
      display: none
    .v-tab
      position: relative
      max-width: 50%
      width: 100%
      line-height: 24px
    .v-tab.v-tab--active:after
      content: ""
      position: absolute
      left: 0
      bottom: 0
      display: block
      width: 100%
      height: 4px
      background-color: #A6D086

@media screen and (max-width: 600px)
  .v-tabs.tab-energy
    margin-left: -24px
    margin-right: -24px
    width: calc(100% + 48px)
    .v-tabs-bar
      height: 56px
    .v-tabs-slider-wrapper
      display: none
    .v-tab
      position: relative
      max-width: 50%
      width: 100%
      font-size: 18px
      line-height: 24px
    .v-tab.v-tab--active:after
      content: ""
      position: absolute
      left: 0
      bottom: 0
      display: block
      width: 100%
      height: 4px
      background-color: #A6D086

.v-tooltip__content
  position: relative
.v-tooltip__content:before
  content: ""
  position: absolute
  top: -4px
  left: calc(50% - 4px)
  display: block
  width: 0
  height: 0
  border-width: 0 4px 4px 4px
  border-top-color: transparent
  border-right-color: transparent
  border-bottom-color: #000000
  border-left-color: transparent
  border-style: solid

.tooltip-text
  font-size: 14px
  font-weight: 400
  line-height: 20px
  .ol-list
    padding-left: 12px
  .ul-list.list-dot
    padding-left: 8px
  .ul-list.list-dot.list-dot-white>li:before
    top: 11px
    left: -8px
    display: block
    width: 2px
    height: 2px
    background-color: rgba(255, 255, 255, 0.9)
    border-radius: 50%
  .fs-12
    font-size: 12px
    font-weight: 400
    line-height: 24px

.border-top-CBCDD1
  border-top: 1px solid #CBCDD1

.v-messages
  font-size: 16px !important
  .v-messages__message
    line-height: 16px !important
.v-text-field.v-text-field--enclosed .v-text-field__details 
    padding: 0 !important


//2024-08-01
.card-welfarestatus
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.05) !important
  h4
    font-size: 24px
    font-weight: 600

.card-welfarestatus-total
  text-align: center
  .total-item
    .name
      font-size: 18px
      font-weight: 600
      color: #333333
      margin-bottom: 8px
    .count
      font-size: 20px
      font-weight: 700
      color: #1F1F1F
      small
        font-size: 12px
        font-weight: 400
        color: #333333
  .v-divider
    height: 44px
    align-self: center !important

.card-welfarestatus-table
  .btn-admin-link.v-btn
    height: 36px !important
    padding: 0 12px !important
    font-size: 15px !important
    font-weight: 500 !important
    border-radius: 4px !important

.welfarestatus-table
  .v-card__title
    display: none
  .v-data-table__wrapper
    th
      border-top: 0 !important
      border-right: 0 !important
      border-color: rgba(0, 0, 0, 0.15) !important
      background-color: #F7F7F7 !important
      word-break: keep-all
      span
        font-size: 16px !important
        font-weight: 600 !important
        letter-spacing: -1px
        color: #0F0F0F !important
        line-height: 24px
    th:first-child
      border-left: 0 !important
    td
      border-bottom: 0 !important
      border-right: 0 !important
      border-color: rgba(0, 0, 0, 0.15) !important
    td:first-child
      border-left: 0 !important

.select-group
  .select-label
    font-size: 14px
    color:#1F1F1F
  .v-input    
    border-style: solid
    border-width: 1px
    border-color: #D6D6D6 !important
    font-size: 14px

.btn-group
  border-style: solid
  border-width: 1px
  border-color: #D6D6D6
  border-radius: 4px
  .v-text-field--outlined, .v-text-field--solo
    border-top-right-radius: 0 !important
    border-bottom-right-radius: 0 !important
    border-right-width: 0 !important
    font-size: 14px
  .v-btn
    border-top-left-radius: 0 !important
    border-bottom-left-radius: 0 !important
    border-top-right-radius: 4px !important
    border-bottom-right-radius: 4px !important
    height: 40px !important
    min-width: auto !important
    padding: 0 8px !important
    font-size: 14px !important
    font-weight: 600 !important

.pagination-group  
  span
    font-size: 12px
    color: #000000
  .v-input    
    border-style: solid
    border-width: 1px
    border-color: #D6D6D6 !important
    font-size: 14px
  .pagination-page
    position: relative
    margin-top: 10px
    margin-right: 16px
  .pagination-page:after
    content: ""
    position: absolute
    top:0
    right: -16px
    display: block
    width: 1px
    height: 36px
    background-color: #F2F3F3
    margin-left: 16px
  .v-pagination
    .v-pagination__item
      display: none !important
         