/******************************************************************* 
// 위치 : src/assets/styles/variables.scss 
// 설명 : 프로젝트 전체에 적용되는 변수에 대해 정의함 
// 주의 : 컴포넌트 갯수 만큼 실행되기 때문에 변수에 대해서만 정의해야합니다. 
(실제 CSS에 대한 적용은 _index.scss에 작성) // 이 파일은 vue.config.js에 설정되면 됨 ********************************************************************/

// vuetify를 사용할 경우 vuetify의 일부 변수를 사용할 수 있음
@import "~vuetify/src/styles/styles.sass";

// Vuetify Globals
$body-font-family: "Pretendard", "Roboto", sans-serif;
$font-size-root: 18px;
$border-radius-root: 10px;

$btn-font-weight: 700;
$btn-letter-spacing: -1;
$btn-sizes: (
  //"x-small": 20,
  "small": 46,
  "default": 54,
  "large": 56,
  //"x-large": 52,
);
$btn-font-sizes: (
  //"x-small": 12px,
  "small": 16px,
  "default": 18px,
  "large": 20px,
  //"x-large": 18px,
);

$breadcrumbs-item-font-size: 18px;

$icon-sizes: (
  "small": (
    "font-size": 16,
    "height": 36,
  ),
  "default": (
    "font-size": 18,
    //'height': 32
  ),
  "large": (
    "font-size": 16,
    "height": 48,
  ),
);

$input-font-size: 18px;

$text-field-border-radius: 4px;

$tab-font-size: 18px;
$tab-font-weight: 700;

$expansion-panel-border-radius: 10px;
$expansion-panel-header-font-size: 24px;
$expansion-panel-header-min-height: 96px;
$expansion-panel-active-header-min-height: 96px;
$expansion-panel-header-padding: 24px 16px;
$expansion-panel-content-padding: 24px 16px;

$tab-font-size: 20px;
$tab-font-weight: 400;
$tab-line-height: 32px;
$tabs-bar-height: 64px;
$tabs-item-letter-spacing: -1px;
$tabs-item-min-width: 200px;

$tooltip-background-color: #000000;
$tooltip-opacity: 0.45;
$tooltip-border-radius: 4px;
$tooltip-padding: 16px;
